@import "variables"

body 
  font-family: 'Asap', sans-serif
  font-weight: 400

a 
  text-decoration: none

.wrapper 
  max-width: 1170px
  padding: 0 15px
  overflow: hidden
  margin: 0 auto
  box-sizing: border-box


.content-center 
  text-align: center


.arrow 
  font-size: 35px
  color: #fff


.flex 
  display: flex


.flex-centered 
  display: flex
  align-items: center
  justify-content: center


.flex-between 
  display: flex
  justify-content: space-between
  align-items: center


.flex-wrap 
  flex-wrap: wrap

